body {
  background: linear-gradient(to top right, #86006F, #610050, #340029, #8C0383, #8C0383, #020001);
  font-family: 'Garamond', serif;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  font-family: 'FLIX', sans-serif;
  font-size: 36px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.video-container {
  position: relative;
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.descricao {
  font-size: 18px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

.provas-sociais {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.provas-sociais img {
  width: 30%;
}

.titulo-ebook {
  font-family: 'FLIX', sans-serif;
  font-size: 36px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.copy-ebook {
  font-size: 18px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

img[alt="Ebook Transforma"] {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.compra-ebook {
  background-color: white;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-bottom: 50px;
}

.nome-ebook {
  font-family: 'FLIX', sans-serif;
  font-size: 24px;
  color: #1143A3;
  margin-bottom: 25px;
}

.valor-ebook {
  font-family: 'Garamond', serif;
  font-size: 24px;
  color: #1143A3;
  margin-bottom: 25px;
}

.botao-compra {
  background-color: #1143A3;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 25px;
}
@media only screen and (max-width: 767px) {
  main {background-color: #1143A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }
    
    header video {
    width: 100%;
    }
    
    .titulo {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    }
    
    .descricao {
    font-size: 16px;
    margin: 20px;
    text-align: center;
    width: 80%;
    }
    
    .provas-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
    
    .provas-sociais img {
    width: 90%;
    margin: 20px 0;
    }
    
    .titulo-ebook {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    }
    
    .copy-ebook {
    font-size: 16px;
    margin: 20px;
    text-align: center;
    width: 80%;
    }
    
    .compra-ebook {
    background-color: #FFFFFF;
    border: 1px solid #1143A3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    }
    
    .nome-ebook, .valor-ebook {
    font-size: 18px;
    margin: 10px;
    }
    
    .botao-compra {
    background-color: #1143A3;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    }
    }