body, html {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #FFCE9F, #FF9F00);
  background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header video {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
  text-align: center;
}

.titulo {
  font-family: "FLIX", sans-serif;
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.descricao, .copy-ebook {
  font-family: "Garamond", serif;
  font-size: 20px;
  color: #ffff;
  margin-bottom: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.provas-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.provas-sociais img {
  width: 100%;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.titulo-ebook {
  font-family: "FLIX", sans-serif;
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.compra-ebook {
  width: 20%;
  margin: 0 auto 40px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  position: relative;
  border: 2px solid white;
  background-color: #378BD1;
}

.botao-compra {
  background-color: #378BD1;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  border: 2px solid white;
  box-shadow: 0 0 10px #378BD1;
}

@media screen and (max-width: 685px) {
  .provas-sociais {
    display: block;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Optien&display=swap');

.nome-ebook {
  font-family: "Optien", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.copy-ebook {
  font-family: "Optien", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  }

  .descricao {
    font-family: "Optien", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    }
    
    .botao-comprar {
    font-family: "Optien", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #378BD1;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 0 10px #378BD1;
    text-align: center;
    margin-top: 20px;
    }
    
    .provas-sociais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    @media (max-width: 720px) {
      .nome-ebook {
        font-size: 18px;
      }
      .copy-ebook, .descricao {
        background-color: #000000;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
      }
      .provas-sociais {
        flex-direction: column;
      }
    }
    